.noteCard {
    .card-title {
        font-weight: 700 !important;
        -webkit-text-stroke: 1px black;
    }
    .card-content {
        height: 125px;
        color: black;
    }
}

 

// Pagination
.pagination{
    text-align: center;
}

